/* XỬ lý form đăng nhập*/

div.form-container {
    width: 408px;
    height: auto;
    background-color: var(--bg-input);
    border-radius: 8px;
    position: relative;
    top: var(--top-height);
    left: var(--left-width);
    padding-top: 16px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

div.form-container>h2 {
    text-align: center;
    color: var(--text-color);
}

form {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 36px;
    margin-bottom: 40px;
}

form>input {
    background-color: white;
    border-radius: 4px;
    padding-left: 8px;
    width: var(--width-item);
    /* height: var(--height-item); */
    color: var(--text-color);
    margin-bottom: 20px;
}

div.support-wrapper {
    width: var(--width-item);
    justify-content: space-between;
}

div.support-wrapper>h6 {
    text-decoration: underline;
    color: white;
    cursor: pointer;
    font-weight: 400;
}

form button {
    width: var(--width-item);
    /* height: var(--height-item); */
    border: 1px solid #797979;
    border-radius: 4px;
    background-color: var(--third-color);
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-top: 40px;
    padding-bottom: 4px;
    min-height: 60px;
    margin-bottom: 20px;
    /* padding: 10px 0 10px 0; */
}

form button:hover {
    opacity: 0.9;
}

/* Phần đăng nhập bằng facebook - gmail */
div.line-options {
    padding-left: 36px;
    padding-right: 36px;
    justify-content: space-between;
    align-items: center;
}

div.line-options>span {
    font-size: 12px;
    text-align: center;
    color: white;
}

hr.line {
    flex: 1;
    color: white;
}

div.options-wrapper {
    position: absolute;
    width: 100%;
    bottom: 20px;
    margin-top: 40px;
}

ul.option-list {
    padding-right: 36px;
}

li.option-list__item {
    text-align: center;
    background-color: var(--bg-item-color);
    color: var(--bg-input);
    margin-bottom: 12px;
    /* height: var(--height-item); */
    padding-top: 4px;
    border-radius: 4px;
    cursor: pointer;
}

li.option-list__item:hover {
    background-color: var(--main-color);
    color: var(--bg-item-color);
}

a {
    text-decoration: none;
    color: #fff;
}

/* Xử lý form đăng ký */

div.form-container.signup {
    height: auto;
    padding-top: 8px;
}

div.form-container.signup > .link-to__sign-in {
    position: absolute;
    right: 20px;
    color: white;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}

div.form-container.signup form > input {
    margin-bottom: 8px;
    padding: 4px;
}

#signup-form {
    margin-top: 8px;
    margin-right: 20px;
    margin-bottom: 8px;
}

div.form-container.signup .ava-link {
    margin-right: 12px;
}

div.form-container.signup .support-wrapper {
    justify-content: flex-start;
    align-items: center;
}

#avaImg {
    width: 16px;
    margin: 0;
}

div.form-container.signup div.role-wrapper {
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: var(--width-item);
    border: 1px solid white;
    /* height: var(--height-item); */
    padding-left: 4px;
    border-radius: 4px;
    margin-top: 8px;
}

div.role-wrapper > input {
    margin-top: 2px;
    margin-bottom: 0;
    cursor: pointer;
}

div.role-wrapper label {
    margin-left: 4px;
    margin-right: 20px;
    color: var(--bg-item-color);
}

div.form-container.signup form {
    margin-bottom: 20px;
}

div.form-container.signup div.host-info-container {
    width: var(--width-item);
}

div.form-container.signup form button {
    margin-top: 8px;
}

div.form-container.signup .options-wrapper {
    margin-top: 0;
    bottom: 16px;
}

div.form-container.signup .options-wrapper li:first-child {
    margin-bottom: 8px;
}

div.form-container.signup .options-wrapper li:last-child {
    margin-bottom: 0;
}